
body{
  font-family: Arial, Helvetica, sans-serif;

}
.clothing-cards-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  padding: 40px;
}
.cloth-container {
  position: relative;
  overflow: hidden; 
  border-radius: 20px;
  cursor: pointer;
}

.cloth-image {
  width: 100%;
  border-radius: 20px;
  transition: transform 0.3s ease;
}
  .cloth-container:hover .cloth-image, .cloth-container:hover .cloth-heading {
    transform: scale(1.1);
  }

.clothing-heading-description{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.cloth-heading{
  font-weight: 700;
  font-size: 35px;
  letter-spacing: 3px;
  top: 60%;
  text-align: center;
  margin-bottom: -15px;

}
.clothing-sub-heading{
  font-size:16px;
  text-align: center;
}

.back-to-categories{
  background-color: black;
  color: white; 
  padding: 2px 15px;
  font-size: 19px;
  flex-wrap: nowrap;
  width: 100%;
  max-width: 200px;
  height: 42px;
  border-radius: 4px;
  cursor: pointer;
  white-space: nowrap;
}

@media(max-width: 1023px){
  .clothing-cards-container{
  grid-template-columns: 1fr 1fr;
}
}
@media(max-width: 750px){
  .clothing-cards-container{
  grid-template-columns: 1fr;
}
}
