footer {
  background-color: rgb(25, 25, 43);
  font-family: Arial, Helvetica, sans-serif;
  padding: 30px 20px;
}

.footer-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap; /* KEY for responsiveness */
}


.about-us,
.contact-us,
.hours {
  color: white;
  font-weight: bold;
  font-size: 18px;
}


.about-us-text {
  line-height: 1.6;
  color: grey;
  font-size: 16px;
}

.contact-information,
.working-days {
  color: grey;
  line-height: 1.5; 
  font-size: 16px;
}


.line {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  margin: 25px 0;
}


.rights-container {
  display: flex;
  justify-content: center;
}

.rights {
  color: grey;
  font-size: 15px;
}

@media (max-width: 750px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}